  /* Handles Styling for Event Form  */

/* CSS that changes styling on the first section in the eventsListContainer */
#eventHtml:first-child {
    background-color: rosybrown;
    font-weight: bold; 
    font-size: 125%;

}