  /* author: Caroline Brownlee */ 

/* CSS that changes styling on the first event in Events List */
.eventCard:first-child {
    background-color: rosybrown;
    font-weight: bold; 
    font-size: 150%;
}
