{
    "users": [
        {
            "id": 1,
            "username": "Jisie Rocks", 
            "email": "jisie@rocks.com"
        },
        {
            "id": 2,
            "username": "Rose Rocks", 
            "email": "Rose@rocks.com"
        },
            "id": 3,
            "username": "Kristin Rocks",
            "email": "Kristin@rocks.com"
    ],
    "articles": [
        {
            "id": 1,
            "title": "Don't leave your laptop at home.",
            "synopsis": "Or you will be screwed.",
            "url": "http://url.com",
            "userId": 1,
            "timestamp": "(timestamp info goes here)"
        }
    ],
    "messages": [
        {
            "id": 1,
            "userId": 1,
            "message": "Hey, how is it going?",
            "timestamp": "(timestamp info goes here)" 
        }
    ],
    "events": [
        {
            "id": 1,
            "title": "NSS Hackathon",
            "dateTime": "dateTime into goes here",
            "location": "Nashville Software School",
            "userId": 1
        }
    ],
    "tasks": [
        {
            "id": 1, 
            "name": "Walk the dog.",
            "dueDate": "December 2, 2019",
            "completed": false,
            "userId": 1
        }
    ],
    "friends": [
        {
            "id": 1,
            "userId": 2,
            "loggedInUserId": 1 
        },
        {
            "id": 2,
            "userId": 3,
            "loggedInUserId": 1
        }
    ]
  }