{
  "users": [
    {
      "id": 1,
      "name": "Jisie",
      "email": "jisie@rocks.com",
      "password": "123"
    },
    {
      "id": 2,
      "name": "Rose",
      "email": "Rose@rocks.com",
      "password": "123"
    },
    {
      "name": "Kristen",
      "email": "kristen@rocks.com",
      "password": "ada",
      "id": 3
    }
  ],
  "articles": [
    {
      "id": 4,
      "title": "Happy Little Trees Planted at NSS!!!",
      "synopsis": "Bob Ross visits Nashville Software School and plants happy little trees",
      "url": "www.bobross.com",
      "timestamp": "Thu Dec 05 2019 11:55:48 GMT-0600 (Central Standard Time)"
    }
  ],
  "messages": [
    {
      "userId": 1,
      "id": 1,
      "message": "Hey, how is it going :D",
      "timestamp": "Wed Dec 04 2019 11:13:24 GMT-0600 (Central Standard Time)"
    },
    {
      "id": 2,
      "userId": 2,
      "message": "It's a brand new day to sl@y, kweeen!",
      "timestamp": "Wed Dec 04 2019 11:26:31 GMT-0600 (Central Standard Time)"
    },
    {
      "userId": 3,
      "id": 3,
      "message": "I'm tired today. Anyone wanna go to Starbucks with me?",
      "timestamp": "Wed Dec 04 2019 11:26:31 GMT-0600 (Central Standard Time)"
    }
  ],
  "events": [
    {
      "title": "Pool Party",
      "location": "Bito's House",
      "date": "2019-12-04",
      "id": 1,
      "userId": 1
    },
    {
      "title": "Holiday Party",
      "location": "Jisie's House",
      "date": "2019-12-20",
      "id": 3,
      "userId": 1
    }
  ],
  "tasks": [
    {
      "id": 1,
      "userId": 1,
      "name": "Walk The Piranha",
      "dueDate": "2019-12-18",
      "completed": true
    },
    {
      "id": 2,
      "userId": 1,
      "name": "Bathe My Dog",
      "dueDate": "2019-12-18",
      "completed": false
    }
  ],
  "friends": [
    {
      "id": 1,
      "userId": 2,
      "loggedInUserId": 1
    },
    {
      "id": 2,
      "userId": 3,
      "loggedInUserId": 1
    },
    {
      "id": 3,
      "userId": 2,
      "loggedInUserId": 3
    }
  ]
}